{% extends 'web/base.html.twig' %}
{% block title %}About us{% endblock %}
{% block body %}
    <main class="container" id="about-us">
        <br>
        <h1>Welcome to HealthConnect</h1>
        <p>HealthConnect is the premier destination for seamless healthcare booking solutions. Our platform is designed to revolutionize the way individuals connect with healthcare providers, making it easier than ever to book appointments, access medical services, and manage your healthcare journey.</p>

        <p>At HealthConnect, we understand the challenges faced by patients and healthcare providers in today's fast-paced world. That's why we've developed an innovative multi-vendor booking system that streamlines the entire appointment process, empowering patients with greater control and convenience, while enabling healthcare providers to optimize their schedules and enhance patient care.</p>

        <p>With HealthConnect, finding the right healthcare professional is a breeze. Our comprehensive database includes a wide network of trusted providers, ensuring that you have access to a diverse range of medical specialties and services. Whether you're seeking a routine check-up, specialist consultation, or diagnostic procedure, our platform offers a seamless booking experience tailored to your specific needs.</p>

        <p>We take pride in our user-friendly interface, which allows you to browse and compare healthcare providers, view their profiles, read patient reviews, and make informed decisions about your healthcare journey. Our intuitive appointment scheduling system ensures that booking an appointment is quick and hassle-free, with real-time availability updates and convenient reminders to keep you on track.</p>

        <p>At HealthConnect, we prioritize the security and privacy of your personal information. Our platform adheres to strict data protection standards, ensuring that your sensitive data is safeguarded at all times. We value transparency and trust, and our commitment to delivering a secure and reliable platform is unwavering.</p>

        <p>Join the HealthConnect community today and experience the future of healthcare booking. We are dedicated to transforming the way you access medical services, providing you with a seamless, efficient, and personalized experience. Discover the convenience and ease of HealthConnect and take control of your healthcare journey like never before.</p>
    </main>
{% endblock %}