{% extends '/bundles/TwigBundle/Exception/base_error.html.twig' %}

{% block body %}
    <h1>Oops, {{ status_code }}! {{ status_text }}!</h1>
    <h1> The server encountered an internal error or misconfiguration and was unable to complete your request.</h1>
    <div class="btn"><a href={{ path('web_main_page') }}>Return to Home</a></div>
{% endblock %}