 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawStuff1);

        function drawStuff1() {
            var data = new google.visualization.arrayToDataTable([
                ['Service Name', 'Number Of Appointments'],
                {%for value,key in services%}
                ['{{value}}',{{key}}],
                {% endfor%}
            ]);

            var options = {
                width: 200,
                legend: { position: 'none' },
                chart: {
                    title: 'Most Popular Services' },
                axes: {

                },
                bar: { groupWidth: "50%" }
            };

            var chart = new google.charts.Bar(document.getElementById('top_x_div'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>

<div id="top_x_div"></div>
